---
import Col from './Col.astro';

interface Props {
  cols?: unknown[];
}
const { cols } = Astro.props;

---

<div class="layout-row">
  {(cols ?? []).map(col => (
    <Col label='COLUMN' col={col}/>
  ))}
</div>
